*{ 
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family: arial, sans-serif
}

body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4fff4;
    color:#333;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:40px;
}

h1{
    font-size: 2rem
    margin:0;
}

nav{
    background: #1b5e20
    text-align: center;
    padding: 10px;
}

nav a{
    color:white;
    text-decoration: none:
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    color: #ffeb3b
}

section{
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 10px
rgba(0,0,0,0.1);
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:white;
    margin:10px 0;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:15px;
}
